body{
  background: rgb(242, 241, 241) !important;
}
.banner {
  position: relative;
  width: 100%;
  background: url('images/Banner.png') center/100%  no-repeat;
  background-position: top;
}

@media (max-width: 992px){
.banner{
  background : url('images/Banner.png') cover/100%;
}
}


.overlay-nav a {
  color: black !important; 
  text-decoration: none;
  margin: 0 10px; 
}
.overlay-text p {
  color: red;
}
.overlay-text h1{
  font-size: 58px;
  width: 35%;
  color: blue

}
.overlay-text .description{
  width:40%;
}

@media (max-width: 992px) {
  .overlay-text {
    left: 2rem; 
    top: 2rem; 
  }

  .overlay-text h1 {
    font-size: 36px; 
    width: 80%; 
  }

  .overlay-text .description {
    width: 80%; 
  }
}


.course{
  width:80%;
  background: #fff;
  margin: 0  auto;
}

.course .icon{
  margin-right: 10px ;
  color: red;
}

.course-description p{
  font-size: 22px;
  font-weight: 500;
}

.custom-card {
  position: relative;
  overflow: hidden;
}

.custom-card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%; 
  border-bottom: 1px solid grey;
}

.custom-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%; 
  background-color: #fff; 
}

@media (max-width: 992px) {
  .custom-card::before,
  .custom-card::after {
    content: none;
  }

  .custom-card {
    border-bottom: 1px solid grey;
  }
}


.find-course{
  background: rgb(63, 63, 223);
  color: #fff;

}


.image-container {
  flex: 1;
  width: 50%;
  overflow: hidden;
  padding: 30px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.left-image,
.right-image {
 width:50%;
}

.left-image {
  transform: rotate(-2deg);
}

.right-image {
  transform: rotate(7deg);
}

.content-container {
  flex: 1;
  width: 50%;
  padding: 0 20px;
}

.content-container h6{
  margin-left: 20px;
}
.content-container .icon{
  color: red;
}

@media (max-width: 992px) {
  .content-container,.left-image,.image-container,
  .right-image{
    width: 100%
  }
}